@model LoginViewModel

<div class="login-buttons-container">
    <p class="text-center">Click on a service to login</p>
    <form class="clear-margin">
        @foreach (var provider in Model.ExternalProviders)
        {
            <a class="btn btn-primary login-button @provider.CssClass" asp-controller="Account"
               asp-action="ExternalLogin" asp-route-provider="@provider.AuthenticationScheme"
               asp-route-returnUrl="@Model.ReturnUrl">
                <div class="login-text">
                    <img src="~/images/@provider.IconFilename" class="float-left inline-block provider-logo">
                    <div class="inline-block">@provider.Message</div>
                </div>
            </a>
        }
    </form>
</div>
