<header>
    <mat-toolbar color="primary" class="app-top-nav">
        <button mat-icon-button class="example-icon" aria-label="Toggle Navigation Menu" (click)="toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Parental Controls</span>
        <span class="top-nav-spacer"></span>
        <div class="example-button-container">
            <button mat-icon-button aria-label="User Profile" [matMenuTriggerFor]="menu">
                <mat-icon>face</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/app/settings']">
                    <mat-icon class="mr-2">settings</mat-icon>
                    <span>Settings</span>
                </button>
                <button mat-menu-item>
                    <mat-icon class="mr-2">invert_colors</mat-icon>
                    <span>Switch theme</span>
                </button>
                <button mat-menu-item>
                    <mat-icon class="mr-2">exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar>
</header>
