.devices-component-container {
    padding: 10px 5px 0 10px;
}

.custom-card {
    width: 250px;
    // transition: width 400ms, height 500ms;
    // transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);

    // &.expanded {
    //     width: 100%;
    // }

    .custom-card-image {
        height: 160px;
    }

    .custom-card-footer {
        padding: 10px 20px;
    }
}

.mat-expansion-panel-header {
    height: auto !important;
}

.custom-card-container {
    margin-bottom: 40px;
    position: relative;
    z-index: 0;
    transition: display 2s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);

    &.expanded {
        margin-bottom: 0 !important;
        margin-right: 0 !important;
        z-index: 1;
    }

    &.hidden {
        display: none;
    }
}