.divider-cell-container {
    height: 30px;
    
    &.edge-row-cell {
        height: 15px;
    }

    .divider-cell {
        height: 100%;
        background-color: #e4e4e4;
    }
}

.limits-time-container {
    border-left: solid #ccc 1px;
    border-right: solid #ccc 1px;

    .day-limits-scale {
        cursor: pointer;
    
        .grid-cell {
            height: 15px;
            width: calc(100%/48);
            float: left;
    
            &.border-white {
                &:not(:last-child) {
                    border-right: 1px solid #f2f2f2;
                }
            }
    
            &.inactive {
                background-color: #bababa;
            }
        }
    }
}

.hour-header {
    width: calc(100%/6);
}

.day-limit {
    overflow: hidden;
    
    &.first-day {

        .day-name {
            margin-top: 5px;
            margin-top: 14px;
        }

        .allowed-hours {
            top: 14px;
        }
    }

    .allowed-hours {
        width: 100%;
        margin-top: -1.25rem;
        position: relative;
    }
}

.day-limits {
    clear: both;
}
