/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 20px;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.banner-image {
    background-color: #8f623324;
}

.banner-image img {
    position: relative;
    z-index: -1;
}

.right-content-container {
    display: table;
    height: 100%;
    width: 100%;
}

.right-content-cell {
    display: table-cell;
    vertical-align: middle;
}

.right-content {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.content-header {
    text-align: center;
    font-size: 35px;
    /*margin-top: 85px;*/
    display: inline-block;
}

.login-buttons-container {
    margin: 0 auto;
    /*margin-top: 250px;*/
    /*width: 400px;*/
    /*background-color: #EDEDED;*/
    padding: 25px;
    border-radius: 5px;
    /*border: 1px solid #bfbfbf;*/
}

.login-button {
    width: 100%;
    margin-bottom: 10px;
}

.login-button.google {
    background-color: #ffffff;
    border-color: #414141;
    color: #414141;
}

.login-button.o365 {
    background-color: #de3c00;
    border-color: #d73d04;
}

.login-button.o365:active {
    background-color: #de3c00 !important;
    border-color: #d73d04 !important;
}

.login-button.o365:focus {
    box-shadow: 0 0 0 0.2rem #d73d0487 !important;
}

.login-button .provider-logo {
    width: 24px;
}

.login-text {
    display: inline-block;
    width: 230px;
}

@media (max-width: 1266px), (max-aspect-ratio: 8/5) {
    .banner-image {
        display: none;
    }
}