<div class="nav-menu-container">
  <mat-list>
    <mat-list-item class="mb-4">
      <button mat-icon-button aria-label="Dashboard" matTooltip="Dashboard" matTooltipPosition="right" [routerLink]="['/app/dashboard']" [routerLinkActive]="['mat-accent']">
        <mat-icon>dashboard</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item class="mb-4">
      <button mat-icon-button aria-label="My Devices" matTooltip="My Devices" matTooltipPosition="right" [routerLink]="['/app/devices']" [routerLinkActive]="['mat-accent']">
        <mat-icon>devices</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-icon-button aria-label="Settings" matTooltip="Settings" matTooltipPosition="right" [routerLink]="['/app/settings']" [routerLinkActive]="['mat-accent']">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-list-item>
   </mat-list>
</div>
